@using Agriculture.Entities.Concrete
@model List<Image>

@{
    ViewData["Galeri"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<span><a href="/Image/AddImage/" class="btn btn-outline-primary">Yeni Görsel Ekle</a></span>
<br />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Görsel Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Görsel Adresi</th>
                            <th>Açıklama</th>
                            <th colspan="2">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var imageItem in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@imageItem.Title</td>
                                    <td class="py-1">
                                        <img src="@imageItem.ImageUrl" alt="image" />
                                    </td>
                                    <td>@imageItem.Description</td>
                                    <td><a href="/Image/DeleteImage/@imageItem.ImageId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Image/UpdateImage/@imageItem.ImageId" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

