@using Agriculture.Entities.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Hizmetlerimiz</h4>
<br />
<a href="/Service/AddService" class="btn btn-outline-primary">Hizmet Ekle</a>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Görsel</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
        </tr>
    }
</table>


