@model Agriculture.Entities.Concrete.Announcement
<div class="blog-grid-w3-agileits">
    <div class=" col-md-7 blog-img3-agileits-w3layouts">
        <a href="#" data-toggle="modal" data-target="#myModal4"></a>
    </div>
    <div class=" col-md-5 blog-info-w3layouts">
        <h6><a href="#" data-toggle="modal" data-target="#myModal4">@Model.Title</a></h6>
        <div class="inner-info">
            <a href="#" class="blog-text-w3ls bar">Üst Menü</a><span>@Model.Date.ToShortDateString()</span>
            <p class="para-w3-agileits">@Model.Description</p>
        </div>
        <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Devamı..</a>
    </div>
    <div class="clearfix"></div>
</div>
