@model Agriculture.Entities.Concrete.Admin
@{
    ViewData["Title"] = "Yönetici Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Yönetici Oluşturun</h4>
            <form class="forms-sample" method="post">
                <input type="hidden" asp-for="AdminId" />
                <div class="form-group">
                    <label for="adminUserName"><strong>Kullanıcı Adı</strong></label>
                    <br />
                    <input type="text" class="form-control" asp-for="UserName">
                </div>
                <div class="form-group">
                    <label for="admin"><strong>Parola</strong></label>
                    <br />
                    <input type="text" class="form-control" asp-for="Password">
                </div>
                <button type="submit" class="btn btn-outline-success mb-2">Güncelle</button>
                <a href="/Admin/Index/" class="btn btn-outline-danger mb-2">Geri Dön</a>
            </form>
        </div>
    </div>
</div>

